<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue</title>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

</head>

<body>
    <div id="app">
        <!-- Sin clave-->
        <ul id="v-for-object" class="demo">
            <li v-for="value in object">
                {{ value }}
            </li>
        </ul>

        <!-- Con clave-->
        <div v-for="(value, key) in object">
            {{ key }}: {{ value }}
        </div>
    </div>


    <script src="main.js"></script>

</body>

</html>